---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Khai, a software engineer from New York.
        <br />
        My weapons of choice:
      </p>
      <ul class="list-disc list-inside">
        <li>Go</li>
        <li>C/C++</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>NextJs</li>
        <li>svelte</li>
        <li>Nodejs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I'm passionate about building systems, web and terminal applications.
      Recently, I've been excited about learning about machine learning models.
    </p>
    <p class="text-sm font-light">
      An unusual hobby of mine is collecting vinyls!
      Also, if you haven't noticed, I am a huge fan of Catppuccin :) 
    </p>
  </div>
</Card>
